#mainTitle {
  margin-top: 2%;
  color: #2b3b4c;
}

#ideaTitle {
  color: #3273dc;
  font-size: 1.2em;
}

#like {
  color: red;
}

#secondIcon {
  margin-left: 12%;
}

#votes {
  margin-left: 13%;
}

#buttons a {
  margin-left: 3%;
  margin-right: 3%;
}

#subAdd {
  color: #757763;
  text-align: center;
  margin-top: 4%;
}

.select.is-primary select {
  border-color: rgb(0, 163, 211) !important;
}

select:active {
  border-color: rgb(0, 163, 211);
}

#addTitle {
  color: rgb(0, 163, 211);
  font-size: 1.3em;
}

#formInput {
  margin-bottom: 2%;
  width: 50%;
}

.message-header {
  background-color: rgb(0, 163, 211) !important;
}

#addForm {
  float: left;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2%;
  padding-left: 5%;
}

#backIcon {
  margin-right: 10%;
}

#submittedBy {
  font-size: 0.8em;
}

#likeMessage {
  color: #00d1b2;
  text-align: center;
}

.animated3 {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

@-webkit-keyframes likeMessage {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
  25% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  75% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
}

@-moz-keyframes likeMessage {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
  25% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  75% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
}

@-o-keyframes likeMessage {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
  25% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  75% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
}

@keyframes likeMessage {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
  25% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  75% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(20px);
  }
}

.likeMessage {
  -webkit-animation-name: likeMessage;
  -moz-animation-name: likeMessage;
  -o-animation-name: likeMessage;
  animation-name: likeMessage;
}

/* Consideration Styles */

#consideration:hover {
  cursor: default;
}

#consideration {
  background-color: orange;
  margin-left: 5%;
  font-size: 0.7em;
}

/* Completed Styles */

#completed:hover {
  cursor: default;
}

#completed {
  background-color: #00d1b2;
  margin-left: 5%;
  font-size: 0.7em;
}

/* In Progress Styles */

#progress:hover {
  cursor: default;
}

#progress {
  background-color: #ffdd57;
  margin-left: 5%;
  font-size: 0.7em;
}

/* Closed Styles */

#closed:hover {
  cursor: default;
}

#closed {
  background-color: red;
  margin-left: 5%;
  font-size: 0.7em;
}

#delBtn {
  margin-left: 1%;
}

.tooltip {
  position: relative;
}
@media only screen and (max-width: 1023px) {
  .hero.is-primary .navbar-menu {
    background-color: #4e8ef3 !important;
  }
  #articleDiv {
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

@media only screen and (max-width: 500px) {
  #secondIcon {
    margin: 10px;
  }
  #articleImg {
    max-width: 32px !important;
    margin: 0 !important;
  }
}

@media only screen and (max-width: 1218px) {
  #buttons a {
    margin-left: 0.5%;
    margin-right: 0.5%;
  }
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -35px;
  left: 30%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

#backBtn {
  margin-top: 5%;
}

#admin {
  color: rgba(255, 217, 0, 0.733);
}

#rowIdea {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2%;
  margin-bottom: 2%;
}

#search {
  float: right;
  width: 20%;
}

#desc {
  margin-top: 1%;
  text-justify: initial;
  width: 85%;
  overflow-wrap: normal;
}

#commentBtn {
  margin-bottom: 20%;
}

#containerArticle {
  display: flex;
  flex-flow: column wrap;
  height: 100%;
}

#commentHead {
  padding-left: 0.8%;
  width: 100%;
}

#bgTitle {
  background-image: url("/bg.jpg");
}

#techHub {
  text-shadow: 1.5px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#loggedInText {
  text-shadow: 1.5px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  font-size: 1.3em;
}

.navbar-item:hover {
  background-color: #3273dc !important;
  border: 1px solid blue;
  border-radius: 2px;
}

#logoutIcon {
  margin-left: 10%;
  text-shadow: 0px 0px 1px red, 0px 0px 1px red;
  color: white;
}

.hero.is-small .hero-body {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

#title2 {
  /* margin-top: 2%; */
  padding: 2%;
  color: #2b3b4c;
}

#categoryDrop {
  margin-left: 5%;
  margin-right: 7%;
}

#main {
  padding-bottom: 3%;
}

#topLink {
  float: initial;
  text-align: center;
  margin-bottom: 4%;
}

#Laurence {
  background-color: #ffd700 !important;
}

#helpTitle {
  margin-bottom: 2.5%;
}

#footerHelp {
  color: blue;
}

#adminSelect {
  margin-left: 3%;
  padding-left: 1%;
  font-style: inherit;
}

#formContainer {
  margin-top: 3%;
}

#home {
  max-width: 30%;
  margin-top: 1%;
  margin-bottom: 1%;
}

#contentHelp {
  padding: 15px;
}

#forgot {
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 3%;
}

@media only screen and (max-width: 840px) {
  #categoryDrop {
    margin-left: 1%;
    margin-right: 1%;
  }
}

@media only screen and (max-width: 730px) {
  #buttons {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  /* .dropdown-trigger {
    min-width: 100% !important;
    float: right;
  } */
  #search {
    width: 95%;
    margin-left: 2.5%;
    margin-top: 1%;
  }
  #buttons a {
    margin-top: 1%;
  }
}
